@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 106 16% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 100 8% 94%;
    --secondary-foreground: 222 47% 11%;
    --muted: 100 8% 94%;
    --muted-foreground: 215 16% 47%;
    --accent: 100 8% 94%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 100 8% 88%;
    --input: 100 8% 88%;
    --ring: 106 16% 57%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 98 8% 10%; /* #181b17 */
    --foreground: 0 0% 98%; 
    --card: 98 8% 14%; 
    --card-foreground: 0 0% 98%; 
    --popover: 98 8% 14%;
    --popover-foreground: 0 0% 98%; 
    --primary: 106 16% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 98 8% 18%; 
    --secondary-foreground: 0 0% 98%; 
    --muted: 98 8% 18%; 
    --muted-foreground: 98 5% 65%; 
    --accent: 98 8% 18%; 
    --accent-foreground: 0 0% 98%; 
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 98 8% 22%; 
    --input: 98 8% 22%; 
    --ring: 106 16% 57%;
  }
  .theme {
    --font-sans: 'Geist Variable', sans-serif
  }
  * {
    @apply border-border;
  }
  html,
  body,
  #root {
    min-height: 100%;
  }
  html {
    @apply font-sans;
    scrollbar-width: none;
    overscroll-behavior: none;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100dvh;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    overscroll-behavior: none;
    touch-action: manipulation;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}
